@import "tailwindcss";
@import "tw-animate-css";

:root {
  --montserrat: "Montserrat", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--open-sans);
}

a,
p,
span,
button,
li {
  font-family: var(--montserrat);
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.35s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slideUp {
    animation: slideUp 0.45s ease forwards;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
